@import url(https://fonts.googleapis.com/css?family=Poiret+One);

@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5f5f5;
}
.container {
  width: 100%;
  height: 150px;
}
.container h1 {
  text-align: center;
  font-size: 2.5rem;
  padding: 1rem 0;
  background-color: antiquewhite;
}
.serach {
  width: 50%;
  height: 50px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 2px solid blue;
  border-radius: 10px;
}
.search-bar {
  width: 100%;
  margin: 0px auto;
  height: 100%;
  padding-left: 1rem;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #f1f1f1;
  font-size: 1rem;
}

.btn {
  width: 100px;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 1.3rem;
  background-color: #f1f1f1;
  outline: none;
  border: none;
  border-radius: 10px;
}
.btn:hover {
  color: red;
  border-radius: 10px;
  background-color: rgb(242, 242, 153);
}
.container-box {
  width: 50%;
  margin: 10px auto;
  height: 300px;
  border-radius: 10px;
  border: 2px solid rgba(2, 1, 1, 0.316);
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3),
    0 17px 17px 0 rgba(0, 0, 0, 0.15);
}
.box {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.weatherIcon i {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-size: 4.5rem;
}

.info {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #57bd84;

}
.temp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 100%;
  color: #fff;
  font-size: 2rem;
}
.temp-des {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 25%;
  height: 100%;
  color: #fff;
}
.temp-des span {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.place span {
  font-size: 0.8rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  word-spacing: 2px;
}
.date {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.4rem;
  background-color: #57bd84;
  height: 100%;
  width: 25%;
  padding: 0 2rem;
}
/*  */
.extra-info-box {
  width: 100%;
  height: 100px;
  margin: 0px auto;
}
.extra-info {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.box1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 24%;
  height: 100%;
}
.icon {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #57bd84;
}
.para {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem 0;
  flex-direction: column;
}
.para span {
  font-size: 1.3rem;
}

@media only screen and (max-width: 799px) {
  .container {
    width: 100%;
    height: auto;
  }
  .container h1 {
    margin-bottom: 50px;
    font-size: 2.5rem;
    padding: 1rem;
  }
  .serach {
    margin-bottom: 40px;
    width: 80%;
    height: 60px;
  }
  .container-box {
    width: 80%;
    height: auto;
    padding: 1rem 0;
  }
  .box {
    height: auto;
    width: 100%;
    margin-bottom: 10px;
  }
  .info {
    width: 100%;
    height: auto;
  }
  .temp,
  .temp-des,
  .date {
    padding: 1rem 0;
    width: 30%;
    display: flex;
    height: 100px;
    text-align: center;
    flex-direction: column;
  }
  .temp span {
    font-size: 1.5rem;
  }
  .temp-des span {
    font-size: 1rem;
  }
  .date {
    font-size: 1rem;
  }
  .extra-info-box {
    width: 100%;
    height: 100px;
  }
  .box1 {
    border: 2px solid rgba(15, 14, 14, 0.294);
    border-radius: 10px;
    width: 24%;
    height: 100%;
    padding: 1rem 0;
    flex-direction: column;
    text-align: center;
  }
  .icon {
    width: 100%;
    font-size: 1.2rem;
  }
  .para {
    width: 100%;
    padding: 0;
  }
  .para span {
    width: 100%;
    font-size: .9rem;
  }
}
